body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif; /* Set the font family for the entire page */
    background-color: #f4f4f4; /* Set a light gray background color */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #333;
    font-size: 36px;
}

.link {
    text-decoration: none;
    color: #007bff;
    font-size: 20px;
    margin: 10px;
    transition: color 0.3s;
}

.link:hover {
    color: #0056b3;
}

/* Additional CSS for the form */
form {
    max-width: 400px; /* Set the maximum width of the form */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block; /* Display labels as block elements */
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 15px;
    border: none;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    font-size: 18px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
